Repository Hasnep/setup-roc: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, check-built

prettier:
  name: Format markdown files
  language: system
  entry: npx prettier --write

eslint:
  name: Lint TypeScript files
  language: system
  entry: npx eslint --fix

check-built:
  name: Make sure Typescript code has been transpiled
  language: system
  entry: npm ci && npm run build
  pass_filenames: false

Update pre-commit hooks
  .pre-commit-config.yaml
Due: prettier

Update node to v20
  action.yaml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier

Update dependencies
  package-lock.json
  package.json
  src/index.ts
Due: prettier, eslint, check-built

Release v0.2.0
  package-lock.json
  package.json
Due: prettier

Don't include TESTING releases
  dist/index.js
  dist/licenses.txt
  src/index.ts
Due: prettier, eslint, check-built

Update formatting
  dist/index.js
  src/index.ts
Due: prettier, eslint, check-built

Release v0.3.0
  package-lock.json
  package.json
Due: prettier

Disable MacOS in CI
  .github/workflows/run-self.yaml
Due: prettier

Upgrade eslint to v9
  .eslintrc
  .pre-commit-config.yaml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier

Upgrade all dependencies
  package-lock.json
  package.json
Due: prettier

Add option to use testing releases
  .github/workflows/run-self.yaml
  README.md
  action.yaml
  dist/index.js
  src/index.ts
Due: prettier, eslint, check-built

Update build
  dist/index.js
  dist/licenses.txt
Due: none

Make build check always run
  .pre-commit-config.yaml
Due: prettier

Release v0.4.0
  package-lock.json
  package.json
Due: prettier

Change testing input to have three levels
  .github/workflows/run-self.yaml
  README.md
  action.yaml
  dist/index.js
  src/index.ts
Due: prettier, eslint, check-built

Fix CI on MacOS
  .github/workflows/run-self.yaml
Due: prettier

Release v0.5.0
  package-lock.json
  package.json
Due: prettier

Remove testing option
  .github/workflows/run-self.yaml
  README.md
  action.yaml
  dist/index.js
  src/index.ts
Due: prettier, eslint, check-built

Fix Typescript pre-commit checks
  .github/workflows/run-pre-commit.yaml
  .pre-commit-config.yaml
  eslint.config.mjs
Due: prettier

Upgrade checkout action from v3 to v4
  .github/workflows/run-pre-commit.yaml
  .github/workflows/run-self.yaml
Due: prettier

Add Nix flake
  .envrc
  .github/workflows/run-pre-commit.yaml
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  package.json
Due: prettier

Switch ESLint to Biome
  .github/workflows/.syncthing.run-pre-commit.yaml.tmp
  .pre-commit-config.yaml
  biome.json
  dist/index.js
  eslint.config.mjs
  flake.nix
  package-lock.json
  package.json
  src/index.ts
Due: prettier, eslint, check-built

Path conditions:
  prettier: (((any of: \.(ts|mts|cts)$) or (any of: \.(yaml|yml)$)) or (any of: \.json$)) or (any of: \.(md|markdown|mdown)$)
  eslint: any of: \.(ts|mts|cts)$
  check-built: any of: \.(ts|mts|cts)$
